//
// Component animations
// --------------------------------------------------

// Heads up!
//
// We don't use the `.opacity()` mixin here since it causes a bug with text
// fields in IE7-8. Source: https://github.com/twbs/bootstrap/pull/3552.

.fade {
    &.show {
        opacity: 1;
    }
}

.collapse {
    display: none;

    &.show {
        display: block;
    }
}

tr.collapse.show    { display: table-row; }

tbody.collapse.show { display: table-row-group; }

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    @include transition-property(height, visibility);
    @include transition-duration(.35s);
    @include transition-timing-function(ease);
}
